@model IEnumerable<MotorMarket.Models.Main>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<br /><br />

      <div class="row">
          <div class="col-6">
              <h2 class="text-info">Motor Sayfası</h2>
          </div>
          <div class="col-6 text-right">
              <a class="btn btn-info" asp-action="Create"><i class="fas fa-motorcycle"></i> &nbsp; Oluştur</a>
          </div>
          <br />
          <div class="col-12">
              <table class="table table-striped border" >
                  <tr class="table-info">
                      <th>
                          @Html.DisplayNameFor(x => x.Name)
                      </th>
                      <th></th>
                  </tr>
                  @foreach (var item in Model)
                  {
              <tr>
                  <td>
                      @Html.DisplayFor(x => item.Name)
                  </td>
                  
                  @*<partial name="_TableButonlarPartial" model="item.Id" />*@
                  <td class="text-right">
                      <div class="text-right">
                          <div class="btn-group" role="group">
                              <a type="bottom" class="btn btn-primary" href="@Url.Action("Edit", new { @item.Id  })"><i class="far fa-edit"></i></a>
                              <form method="post" action="Delete">
                                  <button onclick="if (!confirm('İlgili satır silinecek. Onaylıyor musunuz?')){ return false }" type="submit" class="btn btn-danger rounded-0" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></button>

                              </form>
                          </div>
                      </div>
                  </td>

              </tr>
                  }

              </table>
          </div>
      </div>

